* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f7fb;
  color: #333;
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

a, button {
  transition: all 0.3s ease;
}

button:focus, input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(100, 100, 255, 0.5);
}