.projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
}

.project-box {
    padding: 2rem;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.project-title {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
}